.App {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
}
div.qr-card{
  box-shadow: 2px 3px 5px 3px #b0abab;
  border-radius: 16px;
  align-items: center;
  height: fit-content;
}
.qr-card{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;
  
}
.qr-image{
  width: 100%;
  border-radius: 16px;
}
.qr-title{
  font-family: Outfit;
  font-size: 24px;
  font-weight: 700;
}
.qr-description{
  font-family: Outfit;
  font-size: 18px;
  font-weight: 400;
}